@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Primitives (Color&Scale) - Value */

    /* Colors */

     /*Base Colors*/
    --base-white: #ffffff;
    --base-black: #000000;
    --base-black-50: #000000, 50%;
    --base-transparent: #ffffff, 0;

      /*Primary Colors*/
    --primary-50: #fff3fd;
    --primary-100: #ffd6fa;
    --primary-200: #febef5;
    --primary-300: #f994ec;
    --primary-400: #ed52d8;
    --primary-500: #d51fbd;
    --primary-600: #a216a2;
    --primary-700: #781778;
    --primary-800: #68135d;
    --primary-900: #460e3f;
    --primary-950: #2a0926;

       /*Secondary Colors*/
    --secondary-50: #fff9f5;
    --secondary-100: #fbe1d8;
    --secondary-200: #f6d5c0;
    --secondary-300: #f1bda2;
    --secondary-400: #ec9468;
    --secondary-500: #e7682a;
    --secondary-600: #e24600;
    --secondary-700: #d82a00;
    --secondary-800: #c01300;
    --secondary-900: #a20e00;
    --secondary-950: #860900;

       /*Tertiary Colors*/
    --tertiary-50: #eefffe;
    --tertiary-100: #e4fffd;
    --tertiary-200: #d7fffc;
    --tertiary-300: #c8fcfb;
    --tertiary-400: #b0f8f9;
    --tertiary-500: #92f2f6;
    --tertiary-600: #60e4ec;
    --tertiary-700: #227883;
    --tertiary-800: #176069;
    --tertiary-900: #0c4045;
    --tertiary-950: #061e20;

      /*Green Colors*/
    --green-50: #f0fdf7;
    --green-100: #e0fced;
    --green-200: #baf8dc;
    --green-300: #89f0c1;
    --green-400: #48e09d;
    --green-500: #20c782;
    --green-600: #20a566;
    --green-700: #209552;
    --green-800: #216e48;
    --green-900: #195438;
    --green-950: #122c1f;

      /*Blue Colors*/
  --blue-50: #f5feff;
  --blue-100: #e1fbfe;
  --blue-200: #c4f7fd;
  --blue-300: #97f0fb;
  --blue-400: #64e8f7;
  --blue-500: #2ed2f2;
  --blue-600: #1ea6b6;
  --blue-700: #297b88;
  --blue-800: #255158;
  --blue-900: #21383c;
  --blue-950: #172527;

      /*Red Colors*/
  --red-50: #fdf3f3;
  --red-100: #fceded;
  --red-200: #f0d3d2;
  --red-300: #e6b1ae;
  --red-400: #e67271;
  --red-500: #f3495a;
  --red-600: #cf3533;
  --red-700: #b43130;
  --red-800: #902524;
  --red-900: #902524;
  --red-950: #690a10;

      /*Yellow Colors*/
  --yellow-50: #fefeec;
  --yellow-100: #fff9e0;
  --yellow-200: #fff5c7;
  --yellow-300: #fff1a8;
  --yellow-400: #ffef93;
  --yellow-500: #f7cc34;
  --yellow-600: #e3b428;
  --yellow-700: #c79c20;
  --yellow-800: #a2871d;
  --yellow-900: #713a00;
  --yellow-950: #361d00;

      /*Greyscale Colors*/

    /*Light Greyscale Colors*/
  --greyscale-light-50: #fafafa;
  --greyscale-light-100: #f5f4f5;
  --greyscale-light-200: #f3e3e5;
  --greyscale-light-300: #d9d4d9;
  --greyscale-light-400: #d9d4d9;
  --greyscale-light-500: #847184;
  --greyscale-light-600: #988398;
  --greyscale-light-700: #816581;
  --greyscale-light-800: #553755;
  --greyscale-light-900: #392439;
  --greyscale-light-950: #181018;

    /*Dark Greyscale Colors*/
  --greyscale-dark-50: #f9f7f0;
  --greyscale-dark-100: #f4f2f5;
  --greyscale-dark-200: #edece7;
  --greyscale-dark-300: #d1cec6;
  --greyscale-dark-400: #9a989c;
  --greyscale-dark-500: #8b858e;
  --greyscale-dark-600: #a597b0;
  --greyscale-dark-700: #625565;
  --greyscale-dark-800: #433447;
  --greyscale-dark-900: #262028;
  --greyscale-dark-950: #161218;

      /*Neutral Colors*/  
  --neutral-50: #f9f7f0;
  --neutral-100: #f4f2f5;
  --neutral-200: #edece7;
  --neutral-300: #d1cec6;
  --neutral-400: #9a989c;
  --neutral-500: #8b858e;
  --neutral-600: #a397b0;
  --neutral-700: #605565;
  --neutral-800: #413447;
  --neutral-900: #242028;
  --neutral-950: #151218;

      /*Purple Colors*/
  --purple-50: #f5f1fe;
  --purple-100: #e7d1fc;
  --purple-200: #d2c0fc;
  --purple-300: #ba9efa;
  --purple-400: #a282f8;
  --purple-500: #926cf6;
  --purple-600: #7a28f2;
  --purple-700: #5c2995;
  --purple-800: #40079e;
  --purple-900: #1b033f;
  --purple-950: #0f0222;

      /*Orange Colors*/
  --orange-50: #fff3f0;
  --orange-100: #ffd2c8;
  --orange-200: #ffc4b4;
  --orange-300: #ffb19e;
  --orange-400: #ff997a;
  --orange-500: #ff805a;
  --orange-600: #ff4b14;
  --orange-700: #d13200;
  --orange-800: #8a2000;
  --orange-900: #471100;
  --orange-950: #1e0800;

      /*Pink Colors*/
  --pink-50: #fff0fa;
  --pink-100: #ffd6f6;
  --pink-200: #ffc7eb;
  --pink-300: #ffadd6;
  --pink-400: #ff8fd6;
  --pink-500: #ff78c6;
  --pink-600: #ff29b4;
  --pink-700: #e00096;
  --pink-800: #960064;
  --pink-900: #4d0032;
  --pink-950: #190113;

      /*Opacity*/
  --opacity-0: 5%;
  --opacity-5: 5%;
  --opacity-10: 10%;
  --opacity-15: 15%;
  --opacity-20: 20%;
  --opacity-25: 25%;
  --opacity-30: 30%;
  --opacity-35: 35%;
  --opacity-40: 40%;
  --opacity-45: 45%;
  --opacity-50: 50%;
  --opacity-55: 55%;
  --opacity-60: 60%;
  --opacity-65: 65%;
  --opacity-70: 70%;
  --opacity-75: 75%;
  --opacity-80: 80%;
  --opacity-85: 85%;
  --opacity-90: 90%;
  --opacity-95: 95%;
  --opacity-100: 100%;

      /*Border Tokens*/
      
    /*Border Radius*/
  --border-radius-0: 0px;
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;
  --border-radius-6: 24px;
  --border-radius-8: 32px;
  --border-radius-10: 40px;
  --border-radius-12: 48px;
  --border-radius-16: 64px;
  --border-radius-full: 9999px;

      /*Spacing Tokens*/
   
        /*Margin Tokens*/
    
    /*Margin*/
  --margin-0: 0px;
  --margin-1: 4px;
  --margin-2: 8px;
  --margin-3: 12px;
  --margin-4: 16px;
  --margin-5: 20px;
  --margin-6: 24px;
  --margin-8: 32px;
  --margin-10: 40px;
  --margin-11: 44px;
  --margin-12: 48px;
  --margin-13: 52px;
  --margin-14: 56px;
  --margin-15: 60px;
  --margin-16: 64px;
  --margin-18: 72px;
  --margin-20: 80px;
  --margin-22: 88px;
  --margin-24: 96px;
  --margin-26: 104px;
  --margin-28: 112px;
  --margin-30: 120px;
  --margin-32: 128px;
  --margin-36: 144px;
  --margin-40: 160px;
  --margin-44: 176px;
  --margin-48: 192px;
  --margin-52: 208px;
  --margin-56: 224px;
  --margin-60: 240px;
  --margin-64: 256px;
  --margin-68: 288px;
  --margin-80: 320px;
  --margin-96: 384px;

      /*Margin Left*/ 
  --margin-left-0: 0px;
  --margin-left-1: 4px;
  --margin-left-2: 8px;
  --margin-left-3: 12px;
  --margin-left-4: 16px;
  --margin-left-5: 20px;
  --margin-left-6: 24px;
  --margin-left-7: 28px;
  --margin-left-8: 32px;
  --margin-left-9: 36px;
  --margin-left-10: 40px;
  --margin-left-11: 44px;
  --margin-left-12: 48px;
  --margin-left-13: 52px;
  --margin-left-14: 56px;
  --margin-left-15: 60px;
  --margin-left-16: 64px;
  --margin-left-18: 72px;
  --margin-left-20: 80px;
  --margin-left-22: 88px;
  --margin-left-24: 96px;
  --margin-left-26: 104px;
  --margin-left-28: 112px;
  --margin-left-30: 120px;
  --margin-left-32: 128px;
  --margin-left-36: 144px;
  --margin-left-40: 160px;
  --margin-left-44: 176px;
  --margin-left-48: 192px;
  --margin-left-52: 208px;
  --margin-left-56: 224px;
  --margin-left-60: 240px;
  --margin-left-64: 256px;
  --margin-left-68: 288px;
  --margin-left-80: 320px;
  --margin-left-96: 384px;

      /*Margin Right*/
  --margin-right-0: 0px;
  --margin-right-1: 4px;
  --margin-right-2: 8px;
  --margin-right-3: 12px;
  --margin-right-4: 16px;
  --margin-right-5: 20px;
  --margin-right-6: 24px;
  --margin-right-7: 28px;
  --margin-right-8: 32px;
  --margin-right-9: 36px;
  --margin-right-10: 40px;
  --margin-right-11: 44px;
  --margin-right-12: 48px;
  --margin-right-13: 52px;
  --margin-right-14: 56px;
  --margin-right-15: 60px;
  --margin-right-16: 64px;
  --margin-right-18: 72px;
  --margin-right-20: 80px;
  --margin-right-22: 88px;
  --margin-right-24: 96px;
  --margin-right-26: 104px;
  --margin-right-28: 112px;
  --margin-right-30: 120px;
  --margin-right-32: 128px;
  --margin-right-36: 144px;
  --margin-right-40: 160px;
  --margin-right-44: 176px;
  --margin-right-48: 192px;
  --margin-right-52: 208px;
  --margin-right-56: 224px;
  --margin-right-60: 240px;
  --margin-right-64: 256px;
  --margin-right-68: 288px;
  --margin-right-80: 320px;
  --margin-right-96: 384px;

      /*Margin Bottom*/
  --margin-bottom-0: 0px;
  --margin-bottom-px: 1px;
  --margin-bottom-2px: 2px;
  --margin-bottom-1: 4px;
  --margin-bottom-2: 8px;
  --margin-bottom-3: 12px;
  --margin-bottom-4: 16px;
  --margin-bottom-5: 20px;
  --margin-bottom-6: 24px;
  --margin-bottom-7: 28px;
  --margin-bottom-8: 32px;
  --margin-bottom-9: 36px;
  --margin-bottom-10: 40px;
  --margin-bottom-11: 44px;
  --margin-bottom-12: 48px;
  --margin-bottom-13: 52px;
  --margin-bottom-14: 56px;
  --margin-bottom-15: 60px;
  --margin-bottom-16: 64px;
  --margin-bottom-18: 72px;
  --margin-bottom-20: 80px;
  --margin-bottom-22: 88px;
  --margin-bottom-24: 96px;
  --margin-bottom-26: 104px;
  --margin-bottom-28: 112px;
  --margin-bottom-30: 120px;
  --margin-bottom-32: 128px;
  --margin-bottom-36: 144px;
  --margin-bottom-40: 160px;
  --margin-bottom-44: 176px;
  --margin-bottom-48: 192px;
  --margin-bottom-52: 208px;
  --margin-bottom-56: 224px;
  --margin-bottom-60: 240px;
  --margin-bottom-64: 256px;
  --margin-bottom-68: 288px;
  --margin-bottom-80: 320px;
  --margin-bottom-96: 384px;

      /*Margin Top*/
  --margin-top-0: 0px;
  --margin-top-1: 4px;
  --margin-top-2: 8px;
  --margin-top-3: 12px;
  --margin-top-4: 16px;
  --margin-top-5: 20px;
  --margin-top-6: 24px;
  --margin-top-7: 28px;
  --margin-top-8: 32px;
  --margin-top-9: 36px;
  --margin-top-10: 40px;
  --margin-top-11: 44px;
  --margin-top-12: 48px;
  --margin-top-13: 52px;
  --margin-top-14: 56px;
  --margin-top-15: 60px;
  --margin-top-16: 64px;
  --margin-top-18: 72px;
  --margin-top-20: 80px;
  --margin-top-22: 88px;
  --margin-top-24: 96px;
  --margin-top-26: 104px;
  --margin-top-28: 112px;
  --margin-top-30: 120px;
  --margin-top-32: 128px;
  --margin-top-36: 144px;
  --margin-top-40: 160px;
  --margin-top-44: 176px;
  --margin-top-48: 192px;
  --margin-top-52: 208px;
  --margin-top-56: 224px;
  --margin-top-60: 240px;
  --margin-top-64: 256px;
  --margin-top-68: 288px;
  --margin-top-80: 320px;
  --margin-top-96: 384px;

      /*Spacing Tokens*/
    
        /*Spacing*/   
  --spacing-left-0: 0px;
  --spacing-left-px: 1px;
  --spacing-left-2px: 2px;
  --spacing-left-1: 4px;
  --spacing-left-2: 8px;
  --spacing-left-3: 12px;
  --spacing-left-4: 16px;
  --spacing-left-6: 24px;
  --spacing-left-7: 28px;
  --spacing-left-8: 32px;
  --spacing-left-9: 36px;
  --spacing-left-10: 40px;
  --spacing-left-11: 44px;
  --spacing-left-12: 48px;
  --spacing-left-13: 52px;
  --spacing-left-14: 56px;
  --spacing-left-15: 60px;
  --spacing-left-16: 64px;
  --spacing-left-18: 72px;
  --spacing-left-20: 80px;
  --spacing-left-22: 88px;
  --spacing-left-24: 96px;
  --spacing-left-26: 104px;
  --spacing-left-28: 112px;
  --spacing-left-30: 120px;
  --spacing-left-32: 128px;
  --spacing-left-36: 144px;
  --spacing-left-40: 160px;
  --spacing-left-44: 176px;
  --spacing-left-48: 192px;
  --spacing-left-52: 208px;
  --spacing-left-56: 224px;
  --spacing-left-60: 240px;
  --spacing-left-64: 256px;
  --spacing-left-68: 288px;
  --spacing-left-80: 320px;
  --spacing-left-96: 384px;

        /*Spacing Top*/
  --spacing-top-0: 0px;
  --spacing-top-px: 1px;
  --spacing-top-2px: 2px;
  --spacing-top-1: 4px;
  --spacing-top-2: 8px;
  --spacing-top-2half: 10px;
  --spacing-top-3: 12px;
  --spacing-top-3half: 14px;
  --spacing-top-4: 16px;
  --spacing-top-4half: 18px;
  --spacing-top-5: 20px;
  --spacing-top-6: 24px;
  --spacing-top-7: 28px;
  --spacing-top-7half: 30px;
  --spacing-top-8: 32px;
  --spacing-top-9: 36px;
  --spacing-top-10: 40px;
  --spacing-top-11: 44px;
  --spacing-top-12: 48px;
  --spacing-top-13: 52px;
  --spacing-top-14: 56px;
  --spacing-top-15: 60px;
  --spacing-top-16: 64px;
  --spacing-top-18: 72px;
  --spacing-top-20: 80px;
  --spacing-top-22: 88px;
  --spacing-top-24: 96px;
  --spacing-top-26: 104px;
  --spacing-top-28: 112px;
  --spacing-top-30: 120px;
  --spacing-top-32: 128px;
  --spacing-top-36: 144px;
  --spacing-top-40: 160px;
  --spacing-top-44: 176px;
  --spacing-top-48: 192px;
  --spacing-top-52: 208px;
  --spacing-top-56: 224px;
  --spacing-top-60: 240px;
  --spacing-top-64: 256px;
  --spacing-top-68: 288px;
  --spacing-top-80: 320px;
  --spacing-top-96: 384px;
    
      /*Spacing Bottom*/
  --spacing-bottom-0: 0px;
  --spacing-bottom-px: 1px;
  --spacing-bottom-2px: 2px;
  --spacing-bottom-1: 4px;
  --spacing-bottom-1half: 6px;
  --spacing-bottom-2: 8px;
  --spacing-bottom-2half: 10px;
  --spacing-bottom-3: 12px;
  --spacing-bottom-3half: 14px;
  --spacing-bottom-4: 16px;
  --spacing-bottom-4half: 18px;
  --spacing-bottom-5: 20px;
  --spacing-bottom-6: 24px;
  --spacing-bottom-7: 28px;
  --spacing-bottom-7half: 30px;
  --spacing-bottom-8: 32px;
  --spacing-bottom-9: 36px;
  --spacing-bottom-10: 40px;
  --spacing-bottom-11: 44px;
  --spacing-bottom-12: 48px;
  --spacing-bottom-13: 52px;
  --spacing-bottom-14: 56px;
  --spacing-bottom-15: 60px;
  --spacing-bottom-16: 64px;
  --spacing-bottom-18: 72px;
  --spacing-bottom-20: 80px;
  --spacing-bottom-22: 88px;
  --spacing-bottom-24: 96px;
  --spacing-bottom-26: 104px;
  --spacing-bottom-28: 112px;
  --spacing-bottom-30: 120px;
  --spacing-bottom-32: 128px;
  --spacing-bottom-36: 144px;
  --spacing-bottom-40: 160px;
  --spacing-bottom-44: 176px;
  --spacing-bottom-48: 192px;
  --spacing-bottom-52: 208px;
  --spacing-bottom-56: 224px;
  --spacing-bottom-60: 240px;
  --spacing-bottom-64: 256px;
  --spacing-bottom-68: 288px;
  --spacing-bottom-80: 320px;
  --spacing-bottom-96: 384px;

      /*Spacing Right*/
  --spacing-right-0: 0px;
  --spacing-right-px: 1px;
  --spacing-right-2px: 2px;
  --spacing-right-1: 4px;
  --spacing-right-1half: 6px;
  --spacing-right-2: 8px;
  --spacing-right-2half: 10px;
  --spacing-right-3: 12px;
  --spacing-right-3half: 14px;
  --spacing-right-4: 16px;
  --spacing-right-4half: 18px;
  --spacing-right-5: 20px;
  --spacing-right-6: 24px;
  --spacing-right-7: 28px;
  --spacing-right-7half: 30px;
  --spacing-right-8: 32px;
  --spacing-right-9: 36px;
  --spacing-right-10: 40px;
  --spacing-right-11: 44px;
  --spacing-right-12: 48px;
  --spacing-right-13: 52px;
  --spacing-right-14: 56px;
  --spacing-right-15: 60px;
  --spacing-right-16: 64px;
  --spacing-right-18: 72px;
  --spacing-right-20: 80px;
  --spacing-right-22: 88px;
  --spacing-right-24: 96px;
  --spacing-right-26: 104px;
  --spacing-right-28: 112px;
  --spacing-right-30: 120px;
  --spacing-right-32: 128px;
  --spacing-right-36: 144px;
  --spacing-right-40: 160px;
  --spacing-right-44: 176px;
  --spacing-right-48: 192px;
  --spacing-right-52: 208px;
  --spacing-right-56: 224px;
  --spacing-right-60: 240px;
  --spacing-right-64: 256px;
  --spacing-right-68: 288px;
  --spacing-right-80: 320px;
  --spacing-right-96: 384px;

      /*Padding*/
  --padding-0px: 0px;
  --padding-px: 1px;
  --padding-2px: 2px;
  --padding-1: 4px;
  --padding-1half: 6px;
  --padding-2: 8px;
  --padding-2half: 10px;
  --padding-3: 12px;
  --padding-3half: 14px;
  --padding-4: 16px;
  --padding-4half: 18px;
  --padding-5: 20px;
  --padding-6: 24px;
  --padding-7: 28px;
  --padding-7half: 30px;
  --padding-8: 32px;
  --padding-9: 36px;
  --padding-10: 40px;
  --padding-11: 44px;
  --padding-12: 48px;
  --padding-13: 52px;
  --padding-14: 56px;
  --padding-15: 60px;
  --padding-16: 64px;
  --padding-18: 72px;
  --padding-20: 80px;
  --padding-22: 88px;
  --padding-24: 96px;
  --padding-26: 104px;
  --padding-28: 112px;
  --padding-30: 120px;
  --padding-32: 128px;
  --padding-36: 144px;
  --padding-40: 160px;
  --padding-44: 176px;
  --padding-48: 192px;
  --padding-52: 208px;
  --padding-56: 224px;
  --padding-60: 240px;
  --padding-64: 256px;
  --padding-72: 288px;
  --padding-80: 320px;
  --padding-96: 384px;

      /*Padding Left*/
  --padding-left-0px: 0px;
  --padding-left-px: 1px;
  --padding-left-half: 2px;
  --padding-left-1: 4px;
  --padding-left-1half: 6px;
  --padding-left-2: 8px;
  --padding-left-2half: 10px;
  --padding-left-3: 12px;
  --padding-left-3half: 14px;
  --padding-left-4: 16px;
  --padding-left-4half: 18px;
  --padding-left-5: 20px;
  --padding-left-6: 24px;
  --padding-left-7: 28px;
  --padding-left-7half: 30px;
  --padding-left-8: 32px;
  --padding-left-9: 36px;
  --padding-left-10: 40px;
  --padding-left-11: 44px;
  --padding-left-12: 48px;
  --padding-left-13: 52px;
  --padding-left-14: 56px;
  --padding-left-15: 60px;
  --padding-left-16: 64px;
  --padding-left-18: 72px;
  --padding-left-20: 80px;
  --padding-left-22: 88px;
  --padding-left-24: 96px;
  --padding-left-26: 104px;
  --padding-left-28: 112px;
  --padding-left-30: 120px;
  --padding-left-32: 128px;
  --padding-left-36: 144px;
  --padding-left-40: 160px;
  --padding-left-44: 176px;
  --padding-left-48: 192px;
  --padding-left-52: 208px;
  --padding-left-56: 224px;
  --padding-left-60: 240px;
  --padding-left-64: 256px;
  --padding-left-72: 288px;
  --padding-left-80: 320px;
  --padding-left-96: 384px;

      /*Padding Top*/
  --padding-top-0px: 0px;
  --padding-top-px: 1px;
  --padding-top-half: 2px;
  --padding-top-1: 4px;
  --padding-top-1half: 6px;
  --padding-top-2: 8px;
  --padding-top-2half: 10px;
  --padding-top-3: 12px;
  --padding-top-3half: 14px;
  --padding-top-4: 16px;
  --padding-top-4half: 18px;
  --padding-top-5: 20px;
  --padding-top-6: 24px;
  --padding-top-7: 28px;
  --padding-top-7half: 30px;
  --padding-top-8: 32px;
  --padding-top-9: 36px;
  --padding-top-10: 40px;
  --padding-top-11: 44px;
  --padding-top-12: 48px;
  --padding-top-13: 52px;
  --padding-top-14: 56px;
  --padding-top-15: 60px;
  --padding-top-16: 64px;
  --padding-top-18: 72px;
  --padding-top-20: 80px;
  --padding-top-22: 88px;
  --padding-top-24: 96px;
  --padding-top-26: 104px;
  --padding-top-28: 112px;
  --padding-top-30: 120px;
  --padding-top-32: 128px;
  --padding-top-36: 144px;
  --padding-top-40: 160px;
  --padding-top-44: 176px;
  --padding-top-48: 192px;
  --padding-top-52: 208px;
  --padding-top-56: 224px;
  --padding-top-60: 240px;
  --padding-top-64: 256px;
  --padding-top-72: 288px;
  --padding-top-80: 320px;
  --padding-top-96: 384px;

      /*Padding Right*/
  --padding-right-0px: 0px;
  --padding-right-px: 1px;
  --padding-right-half: 2px;
  --padding-right-1: 4px;
  --padding-right-1half: 6px;
  --padding-right-2: 8px;
  --padding-right-2half: 10px;
  --padding-right-3: 12px;
  --padding-right-3half: 14px;
  --padding-right-4: 16px;
  --padding-right-4half: 18px;
  --padding-right-5: 20px;
  --padding-right-6: 24px;
  --padding-right-7: 28px;
  --padding-right-7half: 30px;
  --padding-right-8: 32px;
  --padding-right-9: 36px;
  --padding-right-10: 40px;
  --padding-right-11: 44px;
  --padding-right-12: 48px;
  --padding-right-13: 52px;
  --padding-right-14: 56px;
  --padding-right-15: 60px;
  --padding-right-16: 64px;
  --padding-right-18: 72px;
  --padding-right-20: 80px;
  --padding-right-22: 88px;
  --padding-right-24: 96px;
  --padding-right-26: 104px;
  --padding-right-28: 112px;
  --padding-right-30: 120px;
  --padding-right-32: 128px;
  --padding-right-36: 144px;
  --padding-right-40: 160px;
  --padding-right-44: 176px;
  --padding-right-48: 192px;
  --padding-right-52: 208px;
  --padding-right-56: 224px;
  --padding-right-60: 240px;
  --padding-right-64: 256px;
  --padding-right-72: 288px;
  --padding-right-80: 320px;
  --padding-right-96: 384px;

      /*Padding Bottom*/
  --padding-bottom-0px: 0px;
  --padding-bottom-px: 1px;
  --padding-bottom-half: 2px;
  --padding-bottom-1: 4px;
  --padding-bottom-1half: 6px;
  --padding-bottom-2: 8px;
  --padding-bottom-2half: 10px;
  --padding-bottom-3: 12px;
  --padding-bottom-3half: 14px;
  --padding-bottom-4: 16px;
  --padding-bottom-4half: 18px;
  --padding-bottom-5: 20px;
  --padding-bottom-6: 24px;
  --padding-bottom-7: 28px;
  --padding-bottom-7half: 30px;
  --padding-bottom-8: 32px;
  --padding-bottom-9: 36px;
  --padding-bottom-10: 40px;
  --padding-bottom-11: 44px;
  --padding-bottom-12: 48px;
  --padding-bottom-13: 52px;
  --padding-bottom-14: 56px;
  --padding-bottom-15: 60px;
  --padding-bottom-16: 64px;
  --padding-bottom-18: 72px;
  --padding-bottom-20: 80px;
  --padding-bottom-22: 88px;
  --padding-bottom-24: 96px;
  --padding-bottom-26: 104px;
  --padding-bottom-28: 112px;
  --padding-bottom-30: 120px;
  --padding-bottom-32: 128px;
  --padding-bottom-36: 144px;
  --padding-bottom-40: 160px;
  --padding-bottom-44: 176px;
  --padding-bottom-48: 192px;
  --padding-bottom-52: 208px;
  --padding-bottom-56: 224px;
  --padding-bottom-60: 240px;
  --padding-bottom-64: 256px;
  --padding-bottom-72: 288px;
  --padding-bottom-80: 320px;
  --padding-bottom-96: 384px;

      /*Spacing*/
  --spacing-0: 0px;
  --spacing-px: 1px;
  --spacing-half: 2px;
  --spacing-1: 4px;
  --spacing-1half: 6px;
  --spacing-2: 8px;
  --spacing-2half: 10px;
  --spacing-3: 12px;
  --spacing-3half: 14px;
  --spacing-4: 16px;
  --spacing-4half: 18px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-7half: 30px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-18: 72px;
  --spacing-20: 80px;
  --spacing-22: 88px;
  --spacing-24: 96px;
  --spacing-26: 104px;
  --spacing-28: 112px;
  --spacing-30: 120px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-68: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-120: 480px;
  --spacing-140: 560px;
  --spacing-160: 640px;
  --spacing-180: 720px;
  --spacing-192: 768px;
  --spacing-256: 1024px;
  --spacing-320: 1280px;
  --spacing-360: 1440px;
  --spacing-400: 1600px;
  --spacing-480: 1920px;

      /*Sizing*/
  
  /* Widths */
  --width-auto: auto;
  --width-full: 100%;
  --width-screen: 100vw;
  --width-0: 0rem;
  --width-rem: 1rem;
  --width-half: 0.5rem;
  --width-1: 1rem;
  --width-1half: 1.5rem;
  --width-2: 2rem;
  --width-2half: 2.5rem;
  --width-3: 3rem;
  --width-3half: 3.5rem;
  --width-4: 4rem;
  --width-4half: 4.5rem;
  --width-5: 5rem;
  --width-6: 6rem;
  --width-7: 7rem;
  --width-8: 8rem;
  --width-9: 9rem;
  --width-10: 10rem;
  --width-11: 11rem;
  --width-12: 12rem;
  --width-14: 14rem;
  --width-15: 15rem;
  --width-16: 16rem;
  --size-18: 72px;
  --size-20: 80px;
  --size-22: 88px;
  --size-24: 96px;
  --size-26: 104px;
  --size-28: 112px;
  --size-30: 120px;
  --size-32: 128px;
  --size-36: 144px;
  --size-40: 160px;
  --size-44: 176px;
  --size-48: 192px;
  --size-56: 208px;
  --size-60: 240px;
  --size-64: 256px;
  --size-72: 288px;
  --size-80: 320px;
  --size-96: 384px;
  --width-0: 0px;
  --width-min-0: 0px;


  /* Heights */
  --height-0: 0px;
  --height-min-0: 0px;

      /*Sizing*/
      --sizing-max-width-0: 0px;
      --sizing-height-0: 0px;
      --sizing-height-0,25: 1px;
      --sizing-height-0,5: 2px;
      --sizing-height-1: 4px;
      --sizing-height-1,5: 6px;
      --sizing-height-2: 8px;
      --sizing-height-2,5: 10px;
      --sizing-height-3: 12px;
      --sizing-height-3,5: 14px;
      --sizing-height-4: 16px;
      --sizing-height-4,5: 18px;
      --sizing-height-5: 20px;
      --sizing-height-6: 24px;
      --sizing-height-7: 28px;
      --sizing-height-7,5: 30px;
      --sizing-height-8: 32px;
      --sizing-height-9: 36px;
      --sizing-height-10: 40px;
      --sizing-height-11: 44px;
      --sizing-height-12: 48px;
      --sizing-height-13: 52px;
      --sizing-height-14: 56px;
      --sizing-height-15: 60px;
      --sizing-height-16: 64px;
      --sizing-height-18: 72px;
      --sizing-height-20: 80px;
      --sizing-height-22: 88px;
      --sizing-height-24: 96px;
      --sizing-height-26: 104px;
      --sizing-height-28: 112px;
      --sizing-height-30: 120px;
      --sizing-height-32: 128px;
      --sizing-height-36: 144px;
      --sizing-height-40: 160px;
      --sizing-height-44: 176px;
      --sizing-height-48: 192px;
      --sizing-height-52: 208px;
      --sizing-height-56: 224px;
      --sizing-height-60: 240px;
      --sizing-height-64: 256px;
      --sizing-height-68: 272px;
      --sizing-height-70: 280px;
      --sizing-height-72: 288px;
      --sizing-height-80: 320px;
      --sizing-height-88: 352px;
      --sizing-height-96: 384px;
      --sizing-height-120: 480px;
      --sizing-height-140: 560px;
      --sizing-height-160: 640px;
      --sizing-height-180: 720px;
      --sizing-height-192: 768px;
      --sizing-height-256: 1024px;
      --sizing-height-320: 1280px;
      --sizing-height-360: 1440px;
      --sizing-height-400: 1600px;
      --sizing-height-480: 1920px;
      --sizing-max-width-0,25: 1px;
      --sizing-max-width-0,5: 2px;
      --sizing-max-width-1: 4px;
      --sizing-max-width-1,5: 6px;
      --sizing-max-width-2: 8px;
      --sizing-max-width-2,5: 10px;
      --sizing-max-width-3: 12px;
      --sizing-max-width-3,5: 14px;
      --sizing-max-width-4: 16px;
      --sizing-max-width-4,5: 18px;
      --sizing-max-width-5: 20px;
      --sizing-max-width-6: 24px;
      --sizing-max-width-7: 28px;
      --sizing-max-width-7,5: 30px;
      --sizing-max-width-8: 32px;
      --sizing-max-width-9: 36px;
      --sizing-max-width-10: 40px;
      --sizing-max-width-11: 44px;
      --sizing-max-width-12: 48px;
      --sizing-max-width-13: 52px;
      --sizing-max-width-14: 56px;
      --sizing-max-width-15: 60px;
      --sizing-max-width-16: 64px;
      --sizing-max-width-18: 72px;
      --sizing-max-width-20: 80px;
      --sizing-max-width-22: 88px;
      --sizing-max-width-24: 96px;
      --sizing-max-width-26: 104px;
      --sizing-max-width-28: 112px;
      --sizing-max-width-30: 120px;
      --sizing-max-width-32: 128px;
      --sizing-max-width-36: 144px;
      --sizing-max-width-40: 160px;
      --sizing-max-width-44: 176px;
      --sizing-max-width-48: 192px;
      --sizing-max-width-52: 208px;
      --sizing-max-width-56: 224px;
      --sizing-max-width-60: 240px;
      --sizing-max-width-62: 248px;
      --sizing-max-width-64: 256px;
      --sizing-max-width-66: 264px;
      --sizing-max-width-68: 272px;
      --sizing-max-width-70: 280px;
      --sizing-max-width-72: 288px;
      --sizing-max-width-80: 320px;
      --sizing-max-width-96: 384px;
      --sizing-max-width-110: 440px;
      --sizing-max-width-120: 480px;
      --sizing-max-width-140: 560px;
      --sizing-max-width-160: 640px;
      --sizing-max-width-180: 720px;
      --sizing-max-width-182: 728px;
      --sizing-max-width-192: 768px;
      --sizing-max-width-220: 880px;
      --sizing-max-width-240: 960px;
      --sizing-max-width-256: 1024px;
      --sizing-max-width-300: 1200px;
      --sizing-max-width-320: 1280px;
      --sizing-max-width-324: 1296px;
      --sizing-max-width-360: 1440px;
      --sizing-max-width-400: 1600px;
      --sizing-max-width-444: 1776px;
      --sizing-max-width-460: 1840px;
      --sizing-max-width-480: 1920px;
      --sizing-min-width-0,25: 1px;
      --sizing-min-width-0,5: 2px;
      --sizing-min-width-1: 4px;
      --sizing-min-width-1,5: 6px;
      --sizing-min-width-2: 8px;
      --sizing-min-width-2,5: 10px;
      --sizing-min-width-3: 12px;
      --sizing-min-width-3,5: 14px;
      --sizing-min-width-4: 16px;
      --sizing-min-width-4,5: 18px;
      --sizing-min-width-5: 20px;
      --sizing-min-width-6: 24px;
      --sizing-min-width-7: 28px;
      --sizing-min-width-7,5: 30px;
      --sizing-min-width-8: 32px;
      --sizing-min-width-9: 36px;
      --sizing-min-width-10: 40px;
      --sizing-min-width-11: 44px;
      --sizing-min-width-12: 48px;
      --sizing-min-width-13: 52px;
      --sizing-min-width-14: 56px; 
      --sizing-min-width-15: 60px;
      --sizing-min-width-16: 64px;
      --sizing-min-width-18: 72px;
      --sizing-min-width-20: 80px;
      --sizing-min-width-22: 88px;
      --sizing-min-width-24: 96px;
      --sizing-min-width-26: 104px;
      --sizing-min-width-28: 112px;
      --sizing-min-width-30: 120px;
      --sizing-min-width-32: 128px;
      --sizing-min-width-36: 144px;
      --sizing-min-width-40: 160px;
      --sizing-min-width-44: 176px;
      --sizing-min-width-48: 192px;
      --sizing-min-width-52: 208px;
      --sizing-min-width-56: 224px;
      --sizing-min-width-60: 240px;
      --sizing-min-width-62: 248px;
      --sizing-min-width-64: 256px;
      --sizing-min-width-66: 264px;
      --sizing-min-width-68: 272px;
      --sizing-min-width-70: 280px;
      --sizing-min-width-72: 288px;
      --sizing-min-width-80: 320px;
      --sizing-min-width-96: 384px;
      --sizing-min-width-108: 432px;
      --sizing-min-width-110: 440px;
      --sizing-min-width-120: 480px;
      --sizing-min-width-124: 496px;
      --sizing-min-width-130: 520px;
      --sizing-min-width-140: 560px;
      --sizing-min-width-160: 640px;
      --sizing-min-width-176: 704px;
      --sizing-min-width-180: 720px;
      --sizing-min-width-182: 728px;
      --sizing-min-width-192: 768px;
      --sizing-min-width-220: 880px;
      --sizing-min-width-236: 944px;
      --sizing-min-width-240: 960px;
      --sizing-min-width-256: 1024px;
      --sizing-min-width-300: 1200px;
      --sizing-min-width-320: 1280px;
      --sizing-min-width-324: 1296px;
      --sizing-min-width-340: 1360px;
      --sizing-min-width-360: 1440px;
      --sizing-min-width-400: 1600px;
      --sizing-min-width-444: 1776px;
      --sizing-min-width-460: 1840px;
      --sizing-min-width-480: 1920px;
      --sizing-width-0,25: 1px;
      --sizing-width-0,5: 2px;
      --sizing-width-1: 4px;
      --sizing-width-1,5: 6px;
      --sizing-width-2: 8px;
      --sizing-width-2,5: 10px;
      --sizing-width-3: 12px;
      --sizing-width-3,5: 14px;
      --sizing-width-4: 16px;
      --sizing-width-4,5: 18px;
      --sizing-width-5: 20px;
      --sizing-width-6: 24px;
      --sizing-width-7: 28px;
      --sizing-width-7,5: 30px;
      --sizing-width-8: 32px;
      --sizing-width-9: 36px;
      --sizing-width-10: 40px;
      --sizing-width-11: 44px;
      --sizing-width-12: 48px;
      --sizing-width-13: 52px;
      --sizing-width-14: 56px;
      --sizing-width-15: 60px;
      --sizing-width-16: 64px;
      --sizing-width-18: 72px;
      --sizing-width-20: 80px;
      --sizing-width-22: 88px;
      --sizing-width-24: 96px;
      --sizing-width-26: 104px;
      --sizing-width-28: 112px;
      --sizing-width-30: 120px;
      --sizing-width-32: 128px;
      --sizing-width-36: 144px;
      --sizing-width-40: 160px;
      --sizing-width-44: 176px;
      --sizing-width-48: 192px;
      --sizing-width-52: 208px;
      --sizing-width-56: 224px;
      --sizing-width-60: 240px;
      --sizing-width-64: 256px;
      --sizing-width-68: 288px;
      --sizing-width-80: 320px;
      --sizing-width-96: 384px;
      --sizing-width-110: 440px;
      --sizing-width-120: 480px;
      --sizing-width-140: 560px;
      --sizing-width-160: 640px;
      --sizing-width-180: 720px;
      --sizing-width-192: 768px;
      --sizing-width-240: 960px;
      --sizing-width-256: 1024px;
      --sizing-width-320: 1280px;
      --sizing-width-324: 1296px;
      --sizing-width-340: 1360px;
      --sizing-width-360: 1440px;
      --sizing-width-400: 1600px;
      --sizing-width-480: 1920px;
      --sizing-min-height-0: 0px;
      --sizing-max-height-0: 0px;
      --sizing-max-height-0,25: 1px;
      --sizing-max-height-0,5: 2px;
      --sizing-max-height-1: 4px;
      --sizing-max-height-1,5: 6px;
      --sizing-max-height-2: 8px;
      --sizing-max-height-2,5: 10px;
      --sizing-max-height-3: 12px;
      --sizing-max-height-3,5: 14px;
      --sizing-max-height-4: 16px;
      --sizing-max-height-4,5: 18px;
      --sizing-max-height-5: 20px;
      --sizing-max-height-6: 24px;
      --sizing-max-height-7: 28px;
      --sizing-max-height-7,5: 30px;
      --sizing-max-height-8: 32px;
      --sizing-max-height-9: 36px;
      --sizing-max-height-10: 40px;
      --sizing-max-height-11: 44px;
      --sizing-max-height-12: 48px;
      --sizing-max-height-13: 52px;
      --sizing-max-height-14: 56px;
      --sizing-max-height-15: 60px;
      --sizing-max-height-16: 64px;
      --sizing-max-height-18: 72px;
      --sizing-max-height-20: 80px;
      --sizing-max-height-22: 88px;
      --sizing-max-height-24: 96px;
      --sizing-max-height-26: 104px;
      --sizing-max-height-28: 112px;
      --sizing-max-height-30: 120px;
      --sizing-max-height-32: 128px;
      --sizing-max-height-36: 144px;
      --sizing-max-height-40: 160px;
      --sizing-max-height-44: 176px;
      --sizing-max-height-48: 192px;
      --sizing-max-height-52: 208px;
      --sizing-max-height-56: 224px;
      --sizing-max-height-60: 240px;
      --sizing-max-height-64: 256px;
      --sizing-max-height-68: 272px;
      --sizing-max-height-70: 280px;
      --sizing-max-height-72: 288px;
      --sizing-max-height-80: 320px;
      --sizing-max-height-88: 352px;
      --sizing-max-height-96: 384px;
      --sizing-max-height-120: 480px;
      --sizing-max-height-140: 560px;
      --sizing-max-height-160: 640px;
      --sizing-max-height-180: 720px;
      --sizing-max-height-192: 768px;
      --sizing-max-height-256: 1024px;
      --sizing-max-height-320: 1280px;
      --sizing-max-height-360: 1440px;
      --sizing-max-height-400: 1600px;
      --sizing-max-height-480: 1920px;
      --sizing-min-height-0,25: 1px;
      --sizing-min-height-0,5: 2px;
      --sizing-min-height-1: 4px;
      --sizing-min-height-1,5: 6px;
      --sizing-min-height-2: 8px;
      --sizing-min-height-2,5: 10px;
      --sizing-min-height-3: 12px;
      --sizing-min-height-3,5: 14px;
      --sizing-min-height-4: 16px;
      --sizing-min-height-4,5: 18px;
      --sizing-min-height-5: 20px;
      --sizing-min-height-6: 24px;
      --sizing-min-height-7: 28px;
      --sizing-min-height-7,5: 30px;
      --sizing-min-height-8: 32px;
      --sizing-min-height-9: 36px;
      --sizing-min-height-10: 40px;
      --sizing-min-height-11: 44px;
      --sizing-min-height-12: 48px;
      --sizing-min-height-13: 52px;
      --sizing-min-height-14: 56px;
      --sizing-min-height-15: 60px;
      --sizing-min-height-16: 64px;
      --sizing-min-height-18: 72px;
      --sizing-min-height-20: 80px;
      --sizing-min-height-22: 88px;
      --sizing-min-height-24: 96px;
      --sizing-min-height-26: 104px;
      --sizing-min-height-28: 112px;
      --sizing-min-height-30: 120px;
      --sizing-min-height-32: 128px;
      --sizing-min-height-36: 144px;
      --sizing-min-height-40: 160px;
      --sizing-min-height-44: 176px;
      --sizing-min-height-48: 192px;
      --sizing-min-height-52: 208px;
      --sizing-min-height-56: 224px;
      --sizing-min-height-60: 240px;
      --sizing-min-height-64: 256px;
      --sizing-min-height-68: 272px;
      --sizing-min-height-70: 280px;
      --sizing-min-height-72: 288px;
      --sizing-min-height-80: 320px;
      --sizing-min-height-88: 352px;
      --sizing-min-height-96: 384px;
      --sizing-min-height-120: 480px;
      --sizing-min-height-140: 560px;
      --sizing-min-height-160: 640px;
      --sizing-min-height-180: 720px;
      --sizing-min-height-192: 768px;
      --sizing-min-height-256: 1024px;
      --sizing-min-height-320: 1280px;
      --sizing-min-height-360: 1440px;
      --sizing-min-height-400: 1600px;
      --sizing-min-height-480: 1920px;
      --border-border-bottom-right-radius-0: 0px;
      --border-border-bottom-right-radius-0,25: 4px;
      --border-border-bottom-right-radius-0,5: 8px;
      --border-border-bottom-right-radius-0,75: 12px;
      --border-border-bottom-right-radius-1: 16px;
      --border-border-bottom-right-radius-1,25: 20px;
      --border-border-bottom-right-radius-1,5: 24px;
      --border-border-bottom-right-radius-2: 32px;
      --border-border-bottom-right-radius-2,5: 40px;
      --border-border-bottom-right-radius-3: 48px;
      --border-border-bottom-right-radius-4: 64px;
      --border-border-bottom-right-radius-full: 9999px;
      --border-border-bottom-left-radius-0: 0px;
      --border-border-bottom-left-radius-0,25: 4px;
      --border-border-bottom-left-radius-0,5: 8px;
      --border-border-bottom-left-radius-0,75: 12px;
      --border-border-bottom-left-radius-1: 16px;
      --border-border-bottom-left-radius-1,25: 20px;
      --border-border-bottom-left-radius-1,5: 24px;
      --border-border-bottom-left-radius-2: 32px;
      --border-border-bottom-left-radius-2,5: 40px;
      --border-border-bottom-left-radius-3: 48px;
      --border-border-bottom-left-radius-4: 64px;
      --border-border-bottom-left-radius-full: 9999px;
      --border-border-top-right-radius-0: 0px;
      --border-border-top-right-radius-0,25: 4px;
      --border-border-top-right-radius-0,5: 8px;
      --border-border-top-right-radius-0,75: 12px;
      --border-border-top-right-radius-1: 16px;
      --border-border-top-right-radius-1,25: 20px;
      --border-border-top-right-radius-1,5: 24px;
      --border-border-top-right-radius-2: 32px;
      --border-border-top-right-radius-2,5: 40px;
      --border-border-top-right-radius-3: 48px;
      --border-border-top-right-radius-4: 64px;
      --border-border-top-right-radius-full: 9999px;
      --border-border-top-left-radius-0: 0px;
      --border-border-top-left-radius-0,25: 4px;
      --border-border-top-left-radius-0,5: 8px;
      --border-border-top-left-radius-0,75: 12px;
      --border-border-top-left-radius-1: 16px;
      --border-border-top-left-radius-1,25: 20px;
      --border-border-top-left-radius-1,5: 24px;
      --border-border-top-left-radius-2: 32px;
      --border-border-top-left-radius-2,5: 40px;
      --border-border-top-left-radius-3: 48px;
      --border-border-top-left-radius-4: 64px;
      --border-border-top-left-radius-full: 9999px;
      --border-border-width-0: 0px;
      --border-border-width-1: 1px;
      --border-border-width-2: 2px;
      --border-border-width-3: 3px;
      --border-border-width-4: 4px;
      --border-border-width-5: 5px;
      --border-border-width-6: 6px;
      --border-border-width-7: 7px;
      --border-border-width-8: 8px;
      --border-border-left-width-0: 0px;
      --border-border-left-width-1: 1px;
      --border-border-left-width-2: 2px;
      --border-border-left-width-3: 3px;
      --border-border-left-width-4: 4px;
      --border-border-left-width-5: 5px;
      --border-border-left-width-6: 6px;
      --border-border-left-width-7: 7px;
      --border-border-left-width-8: 8px;
      --border-border-top-width-0: 0px;
      --border-border-top-width-1: 1px;
      --border-border-top-width-2: 2px;
      --border-border-top-width-3: 3px;
      --border-border-top-width-4: 4px;
      --border-border-top-width-5: 5px;
      --border-border-top-width-6: 6px;
      --border-border-top-width-7: 7px;
      --border-border-top-width-8: 8px;
      --border-border-right-width-0: 0px;
      --border-border-right-width-1: 1px;
      --border-border-right-width-2: 2px;
      --border-border-right-width-3: 3px;
      --border-border-right-width-4: 4px;
      --border-border-right-width-5: 5px;
      --border-border-right-width-6: 6px;
      --border-border-right-width-7: 7px;
      --border-border-right-width-8: 8px;
      --border-border-bottom-width-0: 0px;
      --border-border-bottom-width-1: 1px;
      --border-border-bottom-width-2: 2px;
      --border-border-bottom-width-3: 3px;
      --border-border-bottom-width-4: 4px;
      --border-border-bottom-width-5: 5px;
      --border-border-bottom-width-6: 6px;
      --border-border-bottom-width-7: 7px;
      --border-border-bottom-width-8: 8px;
  }
}
  